.wheel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.wheel {
  width: 300px;
  height: 300px;
  border: 10px solid #333;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transition: transform 4s ease-out;
  background: #333;
}
.spinning {
  transition: transform 4s ease-out;
}

.segment {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  padding-left: 30px;
  padding-top: 30px;
  transform-origin: 0% 100%;
  border-right: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 14px;
  color: #fff;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  text-align: center;
  transform: translate(-50%, -50%);
}

.spin-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
@media screen and (max-width: 460px) {
  .wheel {
    width: 200px;
    height: 200px;
  }
  .segment {
    padding-left: 20px;
    padding-top: 20px;
  }
}

@media (min-width: 461px) and (max-width: 767px) {
  .wheel {
    width: 200px;
    height: 200px;
  }
  .segment {
    padding-left: 20px;
    padding-top: 20px;
  }
}
